<h1>
    Add a User
</h1>
<form action="">
        <fieldset>
            <legend>User</legend>
            <div>
                <label for="name" class="form-control">Name</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="email" class="form-control">Email</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="phone" class="form-control">Phone</label>
                <input type="text" class="form-control">
            </div>
        </fieldset>
        <fieldset>
            <legend>Address</legend>
            <div>
                <label for="street" class="form-control">Street</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="suite" class="form-control">Suite</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="city" class="form-control">City</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="zipcode" class="form-control">ZipCode</label>
                <input type="text" class="form-control">
            </div>
        </fieldset>
    </form>